.poster{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-color: white;
}

.item {
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    margin: 35px;
    
    background: #00000083;
  
}

.item:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 1s ease;
}




